<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BirthdayReminder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BirthdayReminder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BirthdayReminder.Properties.Settings>
            <setting name="IsSortedByName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsGrouped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFiltered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServiceEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailFromPath" serializeAs="String">
                <value>C:/Temp/Birth/emailfrom.txt</value>
            </setting>
            <setting name="EmailToPath" serializeAs="String">
                <value>C:/Temp/Birth/emailto.txt</value>
            </setting>
            <setting name="Subject" serializeAs="String">
                <value>Urodziny - przypomnienie!</value>
            </setting>
            <setting name="Smtp" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>465</value>
            </setting>
            <setting name="EmailFromName" serializeAs="String">
                <value>Przypominacz urodzin</value>
            </setting>
            <setting name="LastNotify" serializeAs="String">
                <value />
            </setting>
            <setting name="DaysForwardInNotify" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BaloonBasicTipTime" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="BaloonNotificationTipTime" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="PathToPassword" serializeAs="String">
                <value>C:/Temp/Birth/password.txt</value>
            </setting>
            <setting name="PathToSalt" serializeAs="String">
                <value>C:/Temp/Birth/salt.txt</value>
            </setting>
            <setting name="PathToData" serializeAs="String">
                <value>C:/Temp/Birth/birth.xml</value>
            </setting>
            <setting name="TimerPeriod" serializeAs="String">
                <value>01:00:00</value>
            </setting>
        </BirthdayReminder.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BirthdayReminder.Properties.Settings>
            <setting name="RegistryKey" serializeAs="String">
                <value>SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Run</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>BirthdayReminder</value>
            </setting>
        </BirthdayReminder.Properties.Settings>
    </applicationSettings>
</configuration>